@inherits LayoutComponentBase
@inject HttpClient HttpClient
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@using static Toolbelt.Web.CssClassInlineBuilder

<div>
    <MudAppBar Position="Position.Static" Class="">
        <h1><a href="/">ClickOnce Get</a></h1>

        <MudAppBarSpacer />

        <MudButton Color="Color.Surface" Link="myapps/upload" Class="@CssClass(new{Active= IsActiveNav("myapps/upload")})">upload my app</MudButton>
        <MudButton Color="Color.Inherit" Link="myapps" Class="@CssClass(new{Active= IsActiveNav("myapps")})">Manage my apps</MudButton>
        <MudButton Color="Color.Inherit">Documents</MudButton>

        <AuthorizeView>
            <Authorized>
                <span class="user-view">
                    <MudAvatar Image="@($"https://avatars.githubusercontent.com/{context.User.Identity.Name}")" Size="Size.Small" alt="@context.User.Identity.Name" />
                    @context.User.Identity.Name
                    <MudMenu Icon="@Icons.Material.MoreVert" Color="Color.Inherit">
                        <MudMenuItem OnClick="OnClickSignOut">Sign out</MudMenuItem>
                    </MudMenu>
                </span>
            </Authorized>
            <NotAuthorized>
                <MudButton Link="auth/signin" Target="_top" Color="Color.Inherit" Variant="Variant.Text">
                    Sign In
                </MudButton>
            </NotAuthorized>
        </AuthorizeView>

    </MudAppBar>
</div>
<div>
    @Body
</div>

@code {
    private bool IsActiveNav(string url)
    {
        var absUrl = NavigationManager.BaseUri.TrimEnd('/') + "/" + url.TrimStart('/');
        return string.Compare(absUrl, NavigationManager.Uri, ignoreCase: true) == 0;
    }

    private async Task OnClickSignOut()
    {
        await this.HttpClient.PostAsync("auth/signout", new StringContent(""));
        await (AuthStateProvider as ClientSideAuthenticationStateProvider)?.RefreshAsync();
    }
}