<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @{
        var description = ViewBag.HeadDescription ?? Localize.Description;
        var keyword = ViewBag.HeadKeyword ?? "ClickOnce";
        var ogTitle = ViewBag.OgTitle ?? Localize.SiteTitle;
        var ogUrl = ViewBag.OgUrl ?? Url.AppUrl(forceSecure: true);
        var ogImageUrl = ViewBag.OgImageUrl ?? Url.AppUrl(forceSecure: true) + "/site-icon-200.png";
    }
    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="@ogTitle" />
    <meta property="og:description" content="@description" />
    <meta property="og:url" content="@ogUrl" />
    <meta property="og:image" content="@ogImageUrl" /><!-- The size of ogpimage.png is 200px x 200px. -->
    <meta name="keywords" content="@keyword" />
    <meta name="description" content="@description" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/favicon.png" rel="icon" type="image/png" />

    <title>@ViewBag.Title - @Localize.SiteTitle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.AppUrl(forceSecure: true)" class="navbar-brand">@Localize.SiteTitle</a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_SignInPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="acknowledgment">
                Powered by -
                <span class="banner aspnet">ASP.NET MVC &amp; WebAPI</span> /
                <span class="banner angularjs">AngularJS</span> /
                TypeScript /
                <span class="banner bootstrapcss">Bootstrap CSS</span> |
                Source code is
                <a class="sourcecode-repository" href="@AppSettings.SourceCode.RepositoryURL" target="_blank" style="background-image:url(@AppSettings.SourceCode.FaviconURL);">
                    Here!
                </a>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @RenderSection("scripts", required: false)
</body>
</html>
