@model System.Collections.Generic.IEnumerable<ClickOnceGet.Models.ClickOnceAppInfo>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Localize.SiteTitle</h1>
    <p class="lead">
        @Localize.Description
    </p>
    <p>
        <a href="@Url.Action("MyApps")" class="btn btn-info btn-lg">Show Your CickOnce Applications &raquo;</a>
        <a href="@Url.Action("Regist", "Publish")" class="btn btn-primary btn-lg">Regist Your ClickOnce Application &raquo;</a>
    </p>
    <p>
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Registerd ClickOnce Applications</h2>

        <ul class="apps-list">
            @foreach (var app in Model.OrderByDescending(a => a.RegisteredAt))
            {
            <li class="a-app">
                <div class="app-info">
                    <a href="@Url.RouteUrl("Publish", new { appId = app.Name })" class="app-link">
                        <span class="app-name">@app.Name</span>
                    </a>
                    <span class="timestamp">@app.RegisteredAt.ToString("d")</span>
                </div>
            </li>
            }
        </ul>
    </div>
</div>
