@model System.Collections.Generic.IEnumerable<ClickOnceGet.Models.ClickOnceAppInfo>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Localize.SiteTitle</h1>
    <p class="lead">
        @Localize.Description
    </p>
    <div class="row">
        <div class="col-md-5">
            <a href="@Url.Action("MyApps")" class="btn btn-info btn-lg">
                Show Your CickOnce Applications &raquo;
            </a>
        </div>
        <div class="col-md-5">
            <a href="@Url.Action("Register", "Publish")" class="btn btn-primary btn-lg">
                Register Your ClickOnce Application &raquo;
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-5">
            <a href="@Url.Action("HowToPackage")" class="btn btn-default">
                How to package? Learn more &raquo;
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Registered ClickOnce Applications</h2>

        <ul class="apps-list">
            @foreach (var app in Model.OrderByDescending(a => a.RegisteredAt))
            {
                <li class="a-app">
                    <div class="app-info">
                        <img alt="@app.GetTitleOrName()" src="@Url.RouteUrl("Icon", new { appId = app.Name })" class="app-icon" />
                        <a href="@Url.RouteUrl("Publish", new { appId = app.Name })" class="app-link" title="Click here to start download, install, and launch the app.">
                            <span class="app-name">@app.GetTitleOrName()</span>
                        </a>
                        <div class="description">@app.Description</div>
                        @if (app.ProjectURL != null)
                        {
                            <div class="project-url" ng-show="app.ProjectURL != null">
                                <a target="_blank" href="@app.ProjectURL">
                                    @app.ProjectURL
                                </a>
                            </div>
                        }
                        <span class="timestamp">
                            Update: @app.RegisteredAt.ToString("d") |
                            Published by
                            <a target="_blank" href="@app.PublisherURL">
                                <img src="@(app.PublisherAvatorImageURL ?? Url.Content("~/Content/images/no-image.png"))" alt="@(app.PublisherName ?? "(anonymous)") " class=" avator" />
                                @(app.PublisherName ?? "(anonymous)")
                            </a>
                        </span>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
