@model System.Collections.Generic.IEnumerable<ClickOnceGet.Models.ClickOnceAppInfo>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Localize.SiteTitle</h1>
    <p class="lead">
        @Localize.Description
    </p>
    <div class="row">
        <div class="col-md-5">
            <a href="@Url.Action("MyApps")" class="btn btn-info btn-lg">
                Show Your CickOnce Applications &raquo;
            </a>
        </div>
        <div class="col-md-5">
            <a href="@Url.Action("Register", "Publish")" class="btn btn-primary btn-lg">
                Register Your ClickOnce Application &raquo;
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-5">
            <a href="@Url.Action("HowToPackage")" class="btn btn-default">
                How to package? Learn more &raquo;
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Registered ClickOnce Applications</h2>

        <ul class="apps-list">
            @foreach (var app in Model.OrderByDescending(a => a.RegisteredAt))
            {
                <li class="a-app">
                    <div class="app-info">
                        <a href="@Url.RouteUrl("Publish", new { appId = app.Name })" class="app-link">
                            <span class="app-name">@app.GetTitleOrName()</span>
                        </a>
                        <div class="description">@app.Description</div>
                        <span class="timestamp">@app.RegisteredAt.ToString("d")</span>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
