@model ClickOnceGet.Models.ClickOnceAppInfo
@{
    ViewBag.Title = "Edit App Info";
    var appId = ViewContext.RouteData.Values["id"];

    var disclosePublisher = true;
    if (this.Request.Form.AllKeys.Contains("disclosePublisher"))
    {
        disclosePublisher = bool.Parse(this.Request.Form["disclosePublisher"].Split(',').First());
    }
    else if (Model != null)
    {
        disclosePublisher = !string.IsNullOrEmpty(Model.PublisherName);
    }

    var from = Request.QueryString["from"];
    var goBackUrl = from == "detail" ? Url.RouteUrl("Detail", new { appId }) : Url.Action("MyApps", "Home");
}

@section head {
    <link href="~/Views/Publish/appinfo-form.css" rel="stylesheet" />
}

@if (ViewData.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>
}

<h2>Edit application information</h2>

<label for="app-id">Application ID</label>
<h3 id="app-id">@appId</h3>

<form method="post" action="@(Url.Action("Edit"))?from=@from" ng-app="Publish" ng-controller="EditController as ctrl">
    @Html.AntiForgeryToken()

    <div>
        <label for="Title">Title (optional, max 140 characters)</label>
    </div>
    <div>
        @Html.TextBoxFor(m => m.Title, new { ng_model = "Title", autofocus = "" })
    </div>
    <div ng-bind="Title|charcounter:140" ng-class="{charcounter:true, a1:(Title|charcounter:140) <= 20, a2:(Title|charcounter:140) <= 10}"></div>

    <div>
        <label for="Description">Description (optional, max 140 characters)</label>
    </div>
    <div>
        @Html.TextAreaFor(m => m.Description, new { rows = 7, ng_model = "Description" })
    </div>
    <div ng-bind="Description|charcounter:140" ng-class="{charcounter:true, a1:(Description|charcounter:140) <= 20, a2:(Description|charcounter:140) <= 10}"></div>

    <div>
        <label for="ProjectURL">Project URL (optional)</label>
    </div>
    <div>
        @Html.EditorFor(m => m.ProjectURL)
    </div>
    <div>
        <input type="checkbox" name="disclosePublisher" id="disclosePublisher" value="true" checked="@(disclosePublisher ? "" : null)" />
        <input type="hidden" name="disclosePublisher" value="false" />
        <label for="disclosePublisher">disclose publisher account name</label>
    </div>

    <p>
        <input type="submit" value="Save" id="btn-save" class="btn btn-success" ng-disabled="(Title|charcounter:140)<0 || (Description|charcounter:140)<0" />
        <a href="@goBackUrl" class="btn btn-default">Back</a>
    </p>
</form>

@section scripts {
    <script src="~/Views/Publish/Edit.js"></script>
}
